.calculator-wrap {
    box-sizing: border-box;
    margin: 0 auto;
    width: 30%;
    height: 80vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.window-calculator {
    height: 15%;
    width: 90%;
}

.btns-block {
    height: 75%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.calculator-item {
    width: 30%;
    height: 20%;
}

.clear-btn {
    width: 50%;
}